body {
  position:relative;
  background-image: url('../images/greyzz.png');
}

.input-field .prefix {
  padding-left: 15px;
}


.highcharts-container{
  margin-top:5px;
}

/* List of Stocks Styles */

.divider-new {
  margin-bottom:0px;
  margin-top: 18px;
}

p {
  font-size: 0.95rem;
  line-height:1.4;
  text-align:center;
}

.collection {
  max-height: 400px;
  overflow-y : scroll;
}

.collection .collection-item.avatar .title {
  font-size: 1.7rem;
}

.collection .collection-item.avatar {
  padding-left:20px;
}

.secondary-bottom {
  position:absolute;
  left: 16px;
  top: 16px;
}

.stock-last-updated {
  font-weight:bold;
}


@media (min-width: 970px) {
 footer {
    position: fixed;
    bottom: 0;
    width:100%;
  }
  
.collection {
  max-height: 700px;
  margin-bottom: 150px;
}  

}

